body {
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.wrapper {
    padding: 0 40px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
}

.site-navigation ul {
    margin: 0;
    
}

.site-navigation .logo {
    order: 1;
    padding: 0;
    width: 244px;
}

.site-navigation li {
    width: 239px;
    list-style: none;
    margin: 0;
    padding: 20px 0;
}

.site-navigation li:nth-last-child(-n + 2) {
    order: 2;
}

.site-navigation a {
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .current {
    color: #766357;
}

.panorama {
    margin-bottom: 60px;
}

.main-heading {
    margin-bottom: 35px;

    font-size: 21px;
}

.advantages p {
    margin-bottom: 55px;

    font-weight: 400;
}

.hotel-search b {
    padding-top: 55px;
    margin-bottom: 35px;

    font-size: 30px;
    line-height: 36px;
}

.hotel-search p {
    margin-bottom: 50px;

    font-weight: 400;
    line-height: 24px;
}

.hotel-search button {
    font-size: 21px;

}

.hotels-list-item {
    list-style: none;
}

.hotels-list-item h3 {
    text-align: left;
}

.hotels-list-item .hotel-link {
    font-size: 21px;
    color: #000000;
}

.hotels-list-item .hotel-link:hover,
.hotels-list-item .hotel-link:focus {
    color: #81b3d2;
}

.hotels-list-item .hotel-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotels-list-item .hotel-type,
.hotels-list-item .price {
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #333333;
}

.hotels-list-item .hotel-rate {
    font-weight: 400;
    line-height: 21px;
    color: #666666;

    background-color: #f2f2f2;
}

.brown-button {
    color: #ffffff;

    background-color: #766357;
}

.brown-button:hover,
.brown-button:focus {
    background-color: #604e43;
}

.brown-button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.blue-button {
    color: #ffffff;

    background-color: #81b3d2;
}

.blue-button:hover,
.blue-button:focus{
    background-color: #669ec0;
}

.blue-button:active{
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}
.page-footer {
    display: flex;
    justify-content: space-between;
}

.footer-hash-tag,
.footer-copyright {
    width: 220px;
}

.footer-hash-tag {
    padding-left: 132px;

    text-align: left;
}

.footer-social ul {
    padding: 0;
    margin: 0;
}

.footer-social li {
    list-style: none;
}

.footer-copyright {
    padding-right: 101px;

    font-weight: 400;
    text-align: right;
}

.footer-copyright a {
    background-color: #231f20;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    background-color: #81b3d2;
}

.footer-copyright a:active {
    background-color: #bdbbbc;
}

.modal-find-hotel {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }