body {
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.logo {
    position: absolute;
    left: 50%;

    width: 140px;
    margin-left: -70px;
}

.site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
}

.site-navigation ul {
    margin: 0;

}

.site-navigation li {
    min-width: 240px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation li:nth-child(2) {
    margin-right: auto;
}

.site-navigation a {
    display: block;
    padding: 14px 72px 16px 72px;

    vertical-align: middle;
    text-align: left;
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .align-right {
    text-align: right;
}

.site-navigation .map {
    letter-spacing: 0.5px;
}

.site-navigation .current {
    color: #766357;
}

.welcome {
    height: 508px;
    margin-bottom: 60px;
    background-color: #ddeaf3;
    background-image: url("../img/intro-mask.svg"),
    url("../img/panorama.jpg");
    background-repeat: no-repeat,
    no-repeat;
    background-position: 0 451px,
    0 0;
    background-size: 100%,
    auto;
}

.welcome img {
    margin-top: 76px;
}

.main-heading {
    margin-right: auto;
    margin-bottom: 28px;
    margin-left: auto;
    width: 500px;

    font-size: 21px;
    letter-spacing: 0.1px;
}

.advantages-and-recommendations p {
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: auto;

    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0.1px;
}

.advantage-row {
    display: flex;
}

.advantage {
    width: 400px;
    padding: 47px 45px 0 45px;
}

.advantage h3,
.advantage p {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}

.advantage h3 {
    width: 160px;
    margin-bottom: 24px;

    font-size: 21px;
    line-height: 21px;
}

.advantage p {
    margin-bottom: 21px;
}

.advantage p:last-child {
    margin-bottom: 59px;
}

.blue-advantage {
    color: #ffffff;

    background-color: #81b3d2;
}

.gray-advantage {
    background-color: #eeeeee;
}

.recommendations-row {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.recommendations-row li {
    width: 400px;
    margin-top: 55px;
}

.icon {
    position: relative;

    padding-top: 106px;
}

.icon:before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 400px;
    height: 100px;

    background-repeat: no-repeat;
    background-position-x: center;
}

.advantage .counter {
    position: relative;

    padding-bottom: 42px;
}

.advantage .counter:after {
    position: absolute;
    top: 66px;
    left: 0;

    height: 21px;
    width: 160px;

    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.advantage .counter-1:after {
    content:"— №1 —"
}

.advantage .counter-2:after {
    content:"— №2 —"
}

.advantage .counter-3:after {
    content:"— №3 —"
}

.advantage .counter-4:after {
    content:"— №4 —"
}

.advantage .counter-5:after {
    content:"— №5 —"
}

.recommendations-row h3 {
    margin: 0 0 24px 0;
}

.recommendations-row p {
    margin-bottom: 82px;
}

.appartments:before {
    background-image: url("../img/appartments.svg");
    background-position-y: 5px;
}

.food:before {
    background-image: url("../img/food.svg");
    background-position-y: 6px;
}

.souvenirs:before {
    background-image: url("../img/souvenirs.svg");
    background-position-y: 1px;
}

.recommendations-row h3 {
    font-size: 21px;
    line-height: 21px;
}

.column-1 p {
    width: 255px;
}

.column-2 p {
    width: 288px;
}

.column-3 p {
    width: 275px;
}

.block {
    display: block;
}

.hotel-search {
    padding-top: 50px;
}

.hotel-search b {
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 36px;
}

.hotel-search p {
    margin: 0 0 46px 0;

    font-weight: 400;
    line-height: 24px;
}

.hotel-search-map {
    display: block;
}

.button {
    display: inline-block;
    border: none;
}

.hotel-search button {
    display: inline-block;
    width: 568px;
    padding: 30px 0 30px 0;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

}

.filter {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;

    background-image: url("../img/filter-background.jpg");
    background-position: 0 -295px;
    background-color: #81b3d2;
}

.filter-form {
    display: flex;
    justify-content: space-between;

    padding-left: 71px;
}

.filter-column {
    width: 255px;
    margin: 27px 0 0 0;
    padding: 0 0 0 0;
}

.filter-column ul {
    margin: 0;
    padding: 0;
}

.filter-column-right {
    margin-top: 27px;
    margin-right: 72px;
    margin-left: auto;
}

.filter-form fieldset {
    border: none;
}

.filter-form legend {
    margin-bottom: 25px;

    font-weight: 700;
    font-size: 16px;
}

.filter-option {
    position: relative;

    list-style: none;
    margin-bottom: 25px;
    padding-left: 40px;
}

.filter-option:last-child {
    margin-bottom: 31px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 1px;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
    width: 27px;

    background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:disabled + label::before {
    background-image: url("../img/checkbox-off-diabled.svg");
}

.filter-input-checkbox:checked:disabled + label::before {
    background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-range {
    width: 318px;

    color: #ffffff;
}

.filter-range-title {
    margin-bottom: 10px;
    margin-left: 1px;

    font-size: 16px;
}

.price-controls {
    position: relative;

    margin-bottom: 20px;
    padding-top: 5px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    margin-bottom: 4px;
}

.price-controls .min-price {
    padding-left: 65px;
}

.price-controls .max-price {
    padding-left: 56px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    margin-left: 3px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 1px;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin-left: 85px;
    padding: 6px 33px 6px 34px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}

.sort-block {
    display: flex;

    margin: 30px 0 0 71px;

    text-align: left;
}

.sort-block p {
    margin: 0 0 30px 0;

    font-size: 21px;
}

.sort-filter {
    flex-grow: 1;
    margin: 0;
    padding: 0;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    border: none;
}

.sort-filter-container {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-left: 48px;
}

.sort-filter-legend {
    margin-right: 40px;
}

.sort-options {
    display: flex;
}

.filter-input-radio + label {
    color: rgba(0, 0, 0, 0.3);

    border-bottom: dotted 1px #81b3d2;
}

.filter-input-radio:checked + label {
    color: #81b3d2;

    border: none;
}

.filter-input-radio + label:hover,
.filter-input-radio + label:focus {
    color: #81b3d2;
}

.filter-input-radio + label:active {
    color: #000000;

    border: none;
}

.sort-option {
    margin: 0 33px 0 0;
    padding: 0;

    list-style: none;
}

.sort-directions {
    position: relative;

    width: 34px;
    margin: 0 73px 0 auto;
    padding: 0;

    border: none;
}

.sort-directions ul {
    list-style: none;
    display: flex;

    margin: 0;
    pading: 0;
}

.direction-up + label:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;

    width: 11px;
    height: 10px;

    background-image: url("../img/icon-up-dir-gray.svg");
    background-repeat: no-repeat;

}

.direction-up:checked + label:before,
.direction-up:active + label:before {
    background-image: url("../img/icon-up-dir-blue.svg");
}

.direction-up:focus + label:before,
.direction-up:hover + label:before {
    background-image: url("../img/icon-up-dir.svg");
}

.direction-down + label:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 23px;

    width: 11px;
    height: 10px;

    background-image: url("../img/icon-down-dir-gray.svg");
    background-repeat: no-repeat;

}

.direction-down:checked + label:before,
.direction-down:active + label:before {
    background-image: url("../img/icon-down-dir-blue.svg");
}

.direction-down:focus + label:before,
.direction-down:hover + label:before {
    background-image: url("../img/icon-down-dir.svg");
}

.hotels-list ul {
    margin: 0;
    padding: 0;
}

.hotels-list-item {
    display: flex;
    padding: 25px 72px 30px 72px;

    border-top: 1px solid #e5e5e5;

    list-style: none;
}

.hotels-list-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.hotels-list-item p {
    margin: 0;

    text-align: left;
}

.hotel-item-colum-1 {
    padding-top: 5px;
}

.hotels-list-item img {
    display: block;
}

.hotel-item-colum-2 {
    margin-right: auto;
    padding-left: 30px;
}

.hotel-item-colum-2 h3 {
    margin: 0 0 3px 0;

    text-align: left;
}

.hotel-item-colum-2 p {
    margin-bottom: 12px;
}

.hotel-item-colum-2 .hotel-link {
    font-size: 21px;
    color: #000000;
}

.hotel-item-colum-2 .hotel-link:hover,
.hotel-item-colum-2 .hotel-link:focus {
    color: #81b3d2;
}

.hotel-item-colum-2 .hotel-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-item-colum-2 .hotel-type,
.hotel-item-colum-2 .price {
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #333333;
}

.hotel-item-colum-2 .button {
    padding: 3px 17px 3px 16px;

    line-height: 21px;
}

.hotel-item-colum-2 .button:not(:last-child) {
    margin-right: 3px;
}


.hotel-item-colum-3 {
    padding-top: 4px;
}

.hotels-list-item .hotel-class {
    width: 110px;
    margin-left: 1px;

    font-size: 0;
}

.hotels-list-item .hotel-rate {
    margin-right: 1px;
    padding: 3px 12px 3px 15px;

    font-weight: 400;
    line-height: 21px;
    color: #666666;

    background-color: #f2f2f2;
}

.hotel-type {
    display: inline-block;
    width: 110px;
    padding-right: 2px;
}

.hotels-list-item .hotel-class {
    margin-bottom: 38px;
}

.hotel-class-2 {
    background-image:
        url("../img/star.svg"),
        url("../img/star.svg");
    background-size:
        18px 17px,
        18px 17px;
    background-repeat:
        no-repeat,
        no-repeat;
    background-position:
        right top,
        right 23px  top 0;
}

.hotel-class-3 {
    background-image:
        url("../img/star.svg"),
        url("../img/star.svg"),
        url("../img/star.svg");
    background-size:
        18px 17px,
        18px 17px,
        18px 17px;
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat;
    background-position:
        right top,
        right 23px  top 0,
        right 47px  top 0;
}

.hotel-class-4 {
    background-image:
        url("../img/star.svg"),
        url("../img/star.svg"),
        url("../img/star.svg"),
        url("../img/star.svg");
    background-size:
        18px 17px,
        18px 17px,
        18px 17px,
        18px 17px;
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position:
        right top,
        right 23px  top 0,
        right 48px  top 0,
        right 72px  top 0;
}

.brown-button {
    color: #ffffff;

    background-color: #766357;
}

.brown-button:hover,
.brown-button:focus {
    background-color: #604e43;
}

.brown-button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.blue-button {
    color: #ffffff;

    background-color: #81b3d2;
}

.blue-button:hover,
.blue-button:focus {
    background-color: #669ec0;
}

.blue-button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
}

.footer-hash-tag {
    margin: 10px 0 0 80px;
    width: 240px;

    font-size: 21px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 150px;
}

.footer-social li {
    list-style: none;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin: 0 80px 0 4px;
    width: 238px;

    font-weight: 400;
}

.footer-copyright p {
    margin-top: 10px;
    margin-right: 9px;
}

.footer-copyright-linkwelcome {
    margin-top: 3px;
}

.footer-copyright svg {
    display: block;
}

.footer-copyright path {
    fill: #231f20;
}

.footer-copyright-link:hover path,
.footer-copyright-link:focus path {
    fill: #81b3d2;
}

.footer-copyright-link:active path {
    fill: #bdbbbc;
}

.modal-find-hotel {
    position: absolute;
    width: 458px;
    top: 2169px;
    left: 50%;
    margin-left: -284px;
    padding: 55px 55px 55px 55px;

    background-color: #ffffff;
    box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

}

.find-hotel p {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 29px 0;
    padding: 0;
}

.find-hotel label {
    padding-top: 6px;

    letter-spacing: 0.2px;
}

.find-hotel input {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;

    background-color: #f2f2f2;
    border: none;
}

.find-hotel .date-field {
    width: 346px;
    box-sizing: border-box;

    padding: 6px 39px 6px 12px;
}

.find-hotel .date-picker {
    position: absolute;
    top: 8px;
    right: 9px;

    width: 21px;
    height: 22px;
    padding: 0;

    font-size: 0;

    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/calendar.svg");
    background-size: 21px 22px;
    border: none;
    opacity: 0.3;
}

.find-hotel .guests-info {
    margin-bottom: 55px;
}

.find-hotel .sub-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 346px;
}

.find-hotel .children-label {
    margin-left: 27px;
}

.number-input {
    display: flex;
    flex-direction: row;
    width: 114px;
}

.number-input button,
.number-input input {
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 6px 0 6px 0;

    text-align: center;

    background-color: #f2f2f2;
    border: none;
}

.number-input button {
    padding-top: 2px;

    font-size: 26px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
}

.number-input button:hover,
.number-input button:focus {
    color: #000000;
}

.number-input button:active {
    color: #81b3d2;
}

.find-hotel .button {
    width: 100%;
    padding: 16px 0 16px 0;

    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;

    background-color: #81b3d2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
